.slider-container {
    margin-top: 115px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    // overflow-x: hidden;

    .comic-img {
        padding-right: 30px;
        max-width: 100%;
    }
}